    h1, h2, h3 {
        color: red;
        font-family: 'Cinzel';
    }
    
    h1 {
        text-align: center;
        font-size: xx-large;
        margin-top: 0%;
        margin-bottom: 0%;
    }
    
    h2 {
        font-size: x-large;
    }
    
    h3 {
        font-size: large;
    }
    
    h4 {
        font-size: large;
        color: white;
    }

    $ancho:300px;
